<div class="password-container">
  <div class="fields-container col-6">
      <mat-form-field class="setting-field">
        <input matInput type="password" placeholder="Current Password">
      </mat-form-field>
      <mat-form-field class="setting-field">
        <input matInput type="password" placeholder="New Password">
      </mat-form-field>
      <mat-form-field class="setting-field">
        <input matInput type="password" placeholder="Confirm New Password">
      </mat-form-field>
  </div>
  <div class="button-container col-8">
    <button  class="round-button secondary-button">Cancel</button>
    <button color="primary" class="round-button">Save Changes</button>
  </div>
</div>