<div class="quiz-start-container container">
    <div  class="col-10">
    <mat-progress-bar class="progress-bar" mode="determinate" color="accent" value=100></mat-progress-bar>
    <mat-card class="quiz-start">
      <div class="quiz-header">
        <h3>Quiz 1</h3>
        <br />
        <div class="quiz-time">
          <mat-icon>access_time</mat-icon><p>&emsp;Friday, September 29th </p>
        </div>
        <br />
      </div>
      <div class="quiz-button">
        <br/>
        <button disabled color="primary" mat-raised-button class="start-button">Completed</button>
      </div>
      <div class="feedback-link-container">
        <a href="">See Feedback</a>
      </div>
    </mat-card>
    </div>
  </div>