<div class="course-read-container">
  <app-reading-header></app-reading-header>
  <div class="container chapter-container">
    <div class="alphabet-bar-container">
      <mat-form-field class="search">
        <input matInput placeholder="Find a word">
      </mat-form-field>
      <p class="alphabets"><span><a href="http://localhost:4200/course/ielts101/week/glossary/#">A</a></span> B C D E F G H I J K L M N O P W R S T U V W X Y Z</p>
    </div>
    <div class="chapter-sec">
        <div class="col-6">
          <p><strong>absolute threshold</strong> the minimum stimulation needed to detect a particular stimulus 50 percent of the time.</p>
          <p><strong>accommodation</strong> adapting our current understandings (schemas) to incorporate new information.</p>
          <p><strong>achievement motivation</strong> a desire for significant accomplishment, mastery of skills or ideas, and attaining a high standard and sense of control.</p>
          <p><strong>achievement test</strong> a test designed to assess what a person has learned.</p>
          <p><strong>acquisition</strong> in classical conditioning, the initial stage, when one linksa neautral stimulus and an unconditioned stimulus so that the neutral stimulus begins triggering the conditioned response. In operant conditioning, the strengthening of a reinforced response.</p>
          <p><strong>action potential</strong> a neural impulse; a brief electrical charge that travels down an axon.</p>
          <p><strong>active listening</strong> empathic listening in which the listener echoes, restates and clarifies. A feature of Rogers’ client-centered therapy.</p>
          <p><strong>adaptation-level phenomenon</strong> our tendency to form judgments (of sounds, of lights, of income) relative to a neutral level defined by our prior experience.</p>
        </div>
        <div class="col-6">
          <p><strong>absolute threshold</strong> the minimum stimulation needed to detect a particular stimulus 50 percent of the time.</p>
          <p><strong>accommodation</strong> adapting our current understandings (schemas) to incorporate new information.</p>
          <p><strong>achievement motivation</strong> a desire for significant accomplishment, mastery of skills or ideas, and attaining a high standard and sense of control.</p>
          <p><strong>achievement test</strong> a test designed to assess what a person has learned.</p>
          <p><strong>acquisition</strong> in classical conditioning, the initial stage, when one linksa neautral stimulus and an unconditioned stimulus so that the neutral stimulus begins triggering the conditioned response. In operant conditioning, the strengthening of a reinforced response.</p>
          <p><strong>action potential</strong> a neural impulse; a brief electrical charge that travels down an axon.</p>
          <p><strong>active listening</strong> empathic listening in which the listener echoes, restates and clarifies. A feature of Rogers’ client-centered therapy.</p>
          <p><strong>adaptation-level phenomenon</strong> our tendency to form judgments (of sounds, of lights, of income) relative to a neutral level defined by our prior experience.</p>
        </div>
      </div>
  </div>
</div>