<div class="password-container">
  <div class="top-container">
    <div class="col-6">
      <div class="fields-container">
        <mat-form-field class="setting-field">
          <input matInput  placeholder="First Name" value="Syed">
        </mat-form-field>
        <mat-form-field class="setting-field">
          <input matInput placeholder="Last Name" value="Raza">
        </mat-form-field>
        <mat-form-field class="setting-field">
          <input matInput type="email" placeholder="Email Address" value="syed@dxm.to">
        </mat-form-field>
      </div>    
    </div>
    <div class="col-6">
      <div class="fields-container">
        <div class="profile-img-container">
          <img src="assets/ink.png">
          <a [routerLink]="">Change Photo</a>
        </div>
      </div>    
    </div>
  </div>
  <div class="button-container col-8">
    <button  class="round-button secondary-button">Cancel</button>
    <button color="primary" class="round-button">Save Changes</button>
  </div>
</div>