<div class="course-read-container">
    <app-reading-header></app-reading-header>
    <div class="container chapter-container">
      <div class="chapter-sec">
        <div class="container">
          <h1>The Story of Psychology</h1>
          <br />
          <p><em><strong>Directions: </strong>Read the following case study, then answer the questions that follow</em></p>
        </div>
      </div>
      <div class="chapter-sec">
        <div class="col-6">
          <h3><strong>Introduction</strong></h3>
          <p>
            Early psychologists recognized the need for the scientific study of every facet of human behavior. Although they did not have the research tools and the technology of modern psychology, they did attempt to apply the scientific method rigorously to their research.  In the late 1800s the psychological community became embroiled in a debate about psychic phenomena. The Society of Psychical Research was formed in 1882 for the specific purpose of bringing science and psychic phenomena together. The society had two purposes: “. . . first, to carry on systematic experimentation with hypnotic subjects, mediums, clairvoyants, and others; and, secondly, to collect evidence concerning apparitions,  haunted houses, and similar phenomena which are incidentally reported, but which, from their fugitive character, admit of no deliberate control.” The society wanted to either debunk these mystical phenomena or find a scientific explanation for their existence.
          </p>
        </div>
        <div class="col-6">
          <h3><strong>Hypothesis</strong></h3>
          <p>
            William James, a leading psychologist at the time, explained the difficulty of the task facing the Society of Psychical Research when he wrote: “In psychology, physiology, and medicine, wherever a debate between the mystics and the scientifics has been once for all decided, it is the mystics who have usually proved to be right about the facts, while the scientifics had the better of it in respect to the theories.”
          </p>
            <br/>
            <br/>
          <h3><strong>Method</strong></h3>
          <p>
            The society faced a difficult task. First, many people who practiced psychic phenomena had no interest in being subjected to rigorous scientific study; they did not see the need. They were also suspicious of intellectuals whose only goal seemed to be to discredit them. The society, led by Professor Henry Sidgwick, tried to reassure these people. Sidgwick was widely regarded for his impartiality and his unwillingness to draw hasty conclusions. Other members of           
          </p>
        </div>
      </div>
    </div>
  </div>