.courses-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0;
}

.course-section {
    margin-bottom: 10%;
}

img.mat-card-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 15vh;
    object-fit: cover;
}

.course-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;   
}

.course-description p {
    margin: 0;
}

.course-details {
    display: flex;
    justify-content: space-between;
}

.instructor {
    display: flex;
    width: 100%;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 5%;
}

.card-title {
    font-size: 12px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.round-button {
    border-radius: 200px;
}

.mini-card {
    width: 18%;
    margin: 0 1%;
}

.mini-card .card-img {
    justify-content: center;
    display: flex;
}

.mini-card .card-img img {
    height: 50px;
}

:host /deep/ .mat-progress-bar-buffer{
    background-color: #e0e0e0 !important;
}


