<p><strong>Recommended For You</strong></p>
<div class="courses-section">
  <div class="col-4" *ngFor="let course of courseList">
      <div class="course-section">
          <mat-card class="course-card">
              <img mat-card-image src="{{course.img}}">
              <mat-card-content>
                  <div class="course-description">
                      <p><strong>{{course.title}}</strong></p>
                      <p>{{course.subtitle}}</p>
                  </div>
                  <hr>
                  <div class="course-details">
                      <div class="instructor">
                          <img class="avatar" src="{{course.instructorsimg}}">
                          <p class="card-title"><strong>{{course.instructors.length > 1 ? 'Profs.' : 'Prof.'}} {{course.instructors.join(', ')}}</strong></p>
                      </div>
                      <div class="button-container">
                        <button (click)="openDialog('course')" color="primary" mat-raised-button class="round-button">{{course.progress > 0 ? 'Continue' : 'Start'}}</button>
                      </div>
                  </div>
              </mat-card-content>
          </mat-card>
          <mat-progress-bar class="progress-bar" mode="determinate" color="accent" value={{course.progress}}></mat-progress-bar>
      </div>
  </div>
</div>
<p><strong>Categories</strong></p>
<div class="courses-section">
  <div class="mini-card" *ngFor="let category of miniCards" (click)="openDialog('category')">
      <div class="course-section">
            <mat-card class="course-card">
                <div class="card-img">
                    <img src="{{category.img}}" alt="Photo of a Shiba Inu">
                </div>
                <hr/>
                <mat-card-content>
                    <div class="course-description">
                        <p><strong>{{category.title}}</strong></p>
                        <p>{{category.coursenumber}} courses</p>
                    </div>
                </mat-card-content>
            </mat-card>
      </div>
  </div>
</div>
  
  