<div class="course-read-container">
  <app-reading-header></app-reading-header>
  <div class="container chapter-container">
    <div class="chapter-sec">
      <div class="col-6">
        <h1>The Story of Psychology</h1>
        <br />
        <p class="topic-intro">&#9679; What Is Psychology</p>
        <p class="sub-1"><span class="chapter-num">1.1 </span>Psychology’s Roots</p>
        <p class="sub-text-1">
            What are some important milestones in Psychology’s early development?
        </p>
      </div>
      <div class="col-6">
        <img src="http://lorempixel.com/g/400/200/technics/">
      </div>
    </div>
    <div class="chapter-sec">
      <div class="col-6">
        <p><strong>Science Is Born</strong></p>
        <p>
          To be human is to be curious about ourselves and the world around us. Before 300 B.C.E., the Greek naturalist and philosopher Aristotle theorized about learning and memory, motivation and emotion, perception and personality. Today we chuckle at some of his guessed, like his suggestion that a meal makes us sleepy by causing gas and heat to collect around the source of our personality, the heart. But credit Aristotle with asking the right questions. 
          <br/>
          &emsp;Philosophers’ thinking about thinking continued until the birth of psychology as we know it, on a December day in 1879, in a small, third-floor room at Germany’s University of Leipzig. There, two young men were helping an austere, middle-aged professor, Wilhelm Wundt, create an
        </p>
      </div>
      <div class="col-6">
        <br />
        <p>
          experimental apparatus. Their machine measured the time lag between people’s hearing a ball hit a platform and their pressing a telegraph key (Hunt, 1993). Curiously, people responded in about one-tenth ofa second when asked to press a key as soon as they were consciously aware of perceiving the sound. (To be aware of one’s awareness takes a little longer.) <span class="highlight">Wundt was seeking to measure “atoms of the mind” — the fastest and simplest mental processes.</span> So began the first psychological laboratory, staffed by Wundt and by psychology’s first graduate students. 
          <br/>
          &emsp;Before long, this new science of psychology became organized into different branches, or schools of thought, each promoted by pioneering thinkers. Two early schools were <strong>structuralism</strong> and <strong>functionalism</strong>. As physicists and 
        </p>
      </div>
    </div>
  </div>
</div>