.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 1%;
}

.header-main {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    background: #fafafa;
}

.header-img img {
    height: 3vh;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-avatar p {
    margin: 0;
}