<div class="navigation-bar">
  <div class="user-profile">
    <div class="user-image">
      <img src="https://randomuser.me/api/portraits/women/84.jpg">
    </div>
    <div class="name">
      <h5> <span class="firstName">{{firstName}}</span> {{lastName}} </h5>
    </div>
    <p>{{userEmail}}</p>
  </div>
  <div class="side-menu">
    <mat-nav-list>
        <a mat-list-item routerLink={{menuoption.link}} routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" *ngFor="let menuoption of menuPages">
            <span class="col-3 {{menuoption.icon}}"></span>
            <p>{{menuoption.name}}</p>
        </a>
      </mat-nav-list>
  </div>
</div>