<div class="course-info-container">
  <div class="header-video">
    <video id="video" autoplay="autoplay" preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png" style="width:50%; height:50%"></video>
  </div>
  <div class="course-details-container">
    <mat-card>
        <mat-card-title>IELTS Reading 101'</mat-card-title>
        <mat-card-subtitle>Introduction to IELTS Reading</mat-card-subtitle>
        <mat-card-header class="instructor-info">
            <img class="avatar" mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
            <mat-card-title>'Prof. Megan Y'</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>This course, IELTS Reading 101, help students prepare for the IELTS exam. The exam consists of three
              reading passages of increasing difficulty, and there is a total of 40 questions to answer. With thousands
              of learners…<span class="see-more">see more</span></p>
        </mat-card-content>
    </mat-card>

    <div class="progress-container">
      <div class="col-3">
        <mat-progress-spinner mode="determinate" value="25"></mat-progress-spinner>
      </div>
      <div class="col-9">
          <div class="progress-dates">
              <p class="col-2">01/18</p><p class="col-2">Week 1</p><p class="col-2">Week 2</p><p class="col-2">Week 3</p><p class="col-2">Week 4</p><p class="col-2">Week 5</p>
          </div>
          <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
          </div>
          <div class="progress-dates">
              <p class="col-2">Start</p><p class="col-2">on track!</p><p class="col-2"></p><p class="col-2"></p><p class="col-2"></p><p class="col-2">Finish</p>
          </div>
      </div>
    </div>
  </div>

</div>