.notes-bar{
    background-color: #ae373a;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    color: white;
}

.icons p{
    color: white;
    margin: 0;
}

.icons{
    display: flex;
    align-items: center;
    pointer-events: none;
}

.mat-icon {
    margin-left: 1em;
}