<div class="notes-bar container">
    <div *ngIf="showCreate();then createButton else updateButton"></div>
    <ng-template #createButton>
        <button  mat-button (click)="createNote()">Save</button>
    </ng-template>
    <ng-template #updateButton>
            <button mat-button (click)="updateNote()">Save</button>
    </ng-template>
    <button *ngIf="!showCreate()" mat-button (click)="deleteNote()"><mat-icon>delete</mat-icon></button>
    <div class="icons"><p><b>B</b>&emsp;<em>I</em>&emsp;<u>U</u></p></div>
</div>