<div class="courses-section">
  <div class="col-4" *ngFor="let course of courseList">
      <div class="course-section">
          <mat-card class="course-card">
              <img mat-card-image src="http://lorempixel.com/400/200/business/" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div class="course-description">
                      <p><strong>{{course.title}}</strong></p>
                      <p>{{course.subtitle}}</p>
                  </div>
                  <hr>
                  <div class="course-details">
                      <div class="instructor">
                          <img class="avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                          <p class="card-title"><strong>{{course.instructors.length > 1 ? 'Profs.' : 'Prof.'}} {{course.instructors.join(', ')}}</strong></p>
                      </div>
                      <div class="button-container">
                        <button (click)="openDialog(course.link)" color="primary" mat-raised-button class="round-button">{{course.progress > 0 ? 'Continue' : 'Start'}}</button>
                      </div>
                  </div>
              </mat-card-content>
          </mat-card>
          <mat-progress-bar class="progress-bar" mode="determinate" color="accent" value={{course.progress}}></mat-progress-bar>
      </div>
  </div>
</div>
