<div class="navigation-bar">
  <div class="user-profile">
    <div class="user-image">
      <img src="https://randomuser.me/api/portraits/women/84.jpg">
    </div>
    <div class="name">
      <h5> <span class="firstName">{{firstName}}</span> {{lastName}} </h5>
    </div>
    <p>{{userEmail}}</p>
  </div>
  <div class="side-menu container">
    <ul>
      
      <li><fa name="graduation-cap" inverse="true"></fa> Home</li>
      <li><mat-icon fontSet="fa" fontIcon="alarm"></mat-icon>Notifications</li>
      <li><fa name="bell" inverse="false"></fa>Browse</li>
      <li><fa name="bell" inverse="false"></fa>Settings</li>
    </ul>
  </div>
</div>