.navigation-bar {
    background-color: #ae373a;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 200;
    padding: 10%;
}

.user-image img{
    border-radius: 100%;
    width: 33%;
    margin: auto;
    display: block;
}

.firstName {
    font-weight: bold;
}

.side-menu {
    color: white;
}

.mat-nav-list a{
    color: white;
}

.mat-nav-list a.active {
    background: white;
    color: black;
}


.side-menu p {
    margin: 0;
}