.book-bar{
    background-color: #ae373a;
    display: flex;
    justify-content: flex-end;
    height: 5vh;
}

.icons {
    display: flex;
    color: white;
    align-items: center;
    pointer-events: none;
}

.mat-icon {
    margin-left: 1em;
}