/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Muli:200,400,600,700";

body {
  font-family: Muli, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 400;
}

.round-input {
  border-radius: 400px;
  padding: 0.5% 2%;
  border: 1px solid #ae373a;
}

a {
  color: #ae373a;
}

a:hover {
  color: #882f32;
  text-decoration: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

