.navigation-bar {
    background-color: #ae373a;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: center;
}


.side-menu {
    color: white;
    display: flex;
    height: 100%;
}

.side-menu-section{
    display: flex;
    flex-direction: column;
}

.side-menu-primary{
    justify-content: center;
}

.side-menu-secondary {
    padding-top: 5vh;
    background: #eee;
}

.mat-nav-list a{
    color: white;
}

.mat-nav-list a.active {
    color: black;
}

.side-menu-secondary .mat-nav-list a{
    color: #ae373a;;
    margin-bottom: 2vh;
}

.side-menu-secondary .mat-nav-list a.active{
    color: black;
    pointer-events: none;
}

.side-menu-secondary .mat-nav-list a.disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
}

.side-menu p {
    margin: 0;
}

.nav-top-section {
    color: black;
    text-align: center;
}

.nav-top-section a{
    color: #ae373a;
}

.week-description {
    margin: 5%;
}

mat-icon {
    margin-right: 15px;
}

.icon-text {
    display: flex;
}

:host /deep/ .mat-list-item-content {
    justify-content: center;
}