<div class="navigation-bar">
    <div class="side-menu">
      <div class="col-3 side-menu-section side-menu-primary">
          <mat-nav-list>
              <a mat-list-item href={{menuoption.link}} routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let menuoption of menuPages">
                  <span class="{{menuoption.icon}}"></span>
              </a>
          </mat-nav-list>
      </div>
      <div class= "col-9 side-menu-section side-menu-secondary">
        <div class="nav-top-section">
          <a href="/course/ielts101/overview"><mat-icon>arrow_back</mat-icon> Overview</a>
          <div class="week-description">
            <p>
                Week 1: Introduction to
                IELTS reading 101”
            </p>
          </div>
        </div>
          <mat-nav-list>
              <a *ngFor="let menuOption of courseWeekMenuPages" mat-list-item routerLink={{menuOption.link}} routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                  <div class="icon-text col-9"><mat-icon>{{menuOption.icon}}</mat-icon> <p>{{menuOption.name}}</p></div>
              </a>
            </mat-nav-list>
      </div>
    </div>
  </div>